extends layout

block head
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/three.js/r66/three.min.js")
  script(src="/javascripts/zencoding.js")
  script(src="/javascripts/socket.io.js")
  script(src="/renderer/html.js")
  script(src="/renderer/renderer.js")
  script(src="/gamelogic/client.js")